<h1>
  Edit faction #<%= @faction.id %>
</h1>

<hr>

<form action="/update_faction/<%= @faction.id %>" method="post">

  <div class="form-group">
    <label for="civ_id">
      Civ
    </label>

    <%= select_tag(:civ_id, options_from_collection_for_select(Civ.all, :id, :name, @faction.civ_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="leader_id">
      Leader
    </label>

    <%= select_tag(:leader_id, options_from_collection_for_select(Leader.all, :id, :name, @faction.leader_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="dom_score_land">
      Dom score land
    </label>

    <input type="text" id="dom_score_land" name="dom_score_land" class="form-control" value="<%= @faction.dom_score_land %>">
  </div>

  <div class="form-group">
    <label for="dom_score_water">
      Dom score water
    </label>

    <input type="text" id="dom_score_water" name="dom_score_water" class="form-control" value="<%= @faction.dom_score_water %>">
  </div>

  <div class="form-group">
    <label for="dom_def_land">
      Dom def land
    </label>

    <input type="text" id="dom_def_land" name="dom_def_land" class="form-control" value="<%= @faction.dom_def_land %>">
  </div>

  <div class="form-group">
    <label for="dom_def_water">
      Dom def water
    </label>

    <input type="text" id="dom_def_water" name="dom_def_water" class="form-control" value="<%= @faction.dom_def_water %>">
  </div>

  <div class="form-group">
    <label for="sci_score_land">
      Sci score land
    </label>

    <input type="text" id="sci_score_land" name="sci_score_land" class="form-control" value="<%= @faction.sci_score_land %>">
  </div>

  <div class="form-group">
    <label for="sci_score_water">
      Sci score water
    </label>

    <input type="text" id="sci_score_water" name="sci_score_water" class="form-control" value="<%= @faction.sci_score_water %>">
  </div>

  <div class="form-group">
    <label for="sci_def_land">
      Sci def land
    </label>

    <input type="text" id="sci_def_land" name="sci_def_land" class="form-control" value="<%= @faction.sci_def_land %>">
  </div>

  <div class="form-group">
    <label for="sci_def_water">
      Sci def water
    </label>

    <input type="text" id="sci_def_water" name="sci_def_water" class="form-control" value="<%= @faction.sci_def_water %>">
  </div>

  <div class="form-group">
    <label for="cul_score_land">
      Cul score land
    </label>

    <input type="text" id="cul_score_land" name="cul_score_land" class="form-control" value="<%= @faction.cul_score_land %>">
  </div>

  <div class="form-group">
    <label for="cul_score_water">
      Cul score water
    </label>

    <input type="text" id="cul_score_water" name="cul_score_water" class="form-control" value="<%= @faction.cul_score_water %>">
  </div>

  <div class="form-group">
    <label for="cul_def_land">
      Cul def land
    </label>

    <input type="text" id="cul_def_land" name="cul_def_land" class="form-control" value="<%= @faction.cul_def_land %>">
  </div>

  <div class="form-group">
    <label for="cul_def_water">
      Cul def water
    </label>

    <input type="text" id="cul_def_water" name="cul_def_water" class="form-control" value="<%= @faction.cul_def_water %>">
  </div>

  <div class="form-group">
    <label for="rel_score_land">
      Rel score land
    </label>

    <input type="text" id="rel_score_land" name="rel_score_land" class="form-control" value="<%= @faction.rel_score_land %>">
  </div>

  <div class="form-group">
    <label for="rel_score_water">
      Rel score water
    </label>

    <input type="text" id="rel_score_water" name="rel_score_water" class="form-control" value="<%= @faction.rel_score_water %>">
  </div>

  <div class="form-group">
    <label for="rel_def_land">
      Rel def land
    </label>

    <input type="text" id="rel_def_land" name="rel_def_land" class="form-control" value="<%= @faction.rel_def_land %>">
  </div>

  <div class="form-group">
    <label for="rel_def_water">
      Rel def water
    </label>

    <input type="text" id="rel_def_water" name="rel_def_water" class="form-control" value="<%= @faction.rel_def_water %>">
  </div>

  <div class="form-group">
    <label for="dip_score_land">
      Dip score land
    </label>

    <input type="text" id="dip_score_land" name="dip_score_land" class="form-control" value="<%= @faction.dip_score_land %>">
  </div>

  <div class="form-group">
    <label for="dip_score_water">
      Dip score water
    </label>

    <input type="text" id="dip_score_water" name="dip_score_water" class="form-control" value="<%= @faction.dip_score_water %>">
  </div>

  <div class="form-group">
    <label for="dip_def_land">
      Dip def land
    </label>

    <input type="text" id="dip_def_land" name="dip_def_land" class="form-control" value="<%= @faction.dip_def_land %>">
  </div>

  <div class="form-group">
    <label for="dip_def_water">
      Dip def water
    </label>

    <input type="text" id="dip_def_water" name="dip_def_water" class="form-control" value="<%= @faction.dip_def_water %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update faction
  </button>
</form>

<hr>

<a href="/factions">
  Go back
</a>
