<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All factions
    </h1>

    <a href="/factions/new" class="btn btn-block btn-outline-secondary">
      Add a new faction
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "faction_templates/factions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Civ
        </th>

        <th>
          Leader
        </th>

        <th>
          Dom score land
        </th>

        <th>
          Dom score water
        </th>

        <th>
          Dom def land
        </th>

        <th>
          Dom def water
        </th>

        <th>
          Sci score land
        </th>

        <th>
          Sci score water
        </th>

        <th>
          Sci def land
        </th>

        <th>
          Sci def water
        </th>

        <th>
          Cul score land
        </th>

        <th>
          Cul score water
        </th>

        <th>
          Cul def land
        </th>

        <th>
          Cul def water
        </th>

        <th>
          Rel score land
        </th>

        <th>
          Rel score water
        </th>

        <th>
          Rel def land
        </th>

        <th>
          Rel def water
        </th>

        <th>
          Dip score land
        </th>

        <th>
          Dip score water
        </th>

        <th>
          Dip def land
        </th>

        <th>
          Dip def water
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @factions.each do |faction| %>
      <tr>
        <td>
          <%= faction.id %>
        </td>

        <td>
          <% if faction.civ.present? %>
            <a href="/civs/<%= faction.civ.id %>">
              <%= faction.civ.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if faction.leader.present? %>
            <a href="/leaders/<%= faction.leader.id %>">
              <%= faction.leader.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= faction.dom_score_land %>
        </td>

        <td>
          <%= faction.dom_score_water %>
        </td>

        <td>
          <%= faction.dom_def_land %>
        </td>

        <td>
          <%= faction.dom_def_water %>
        </td>

        <td>
          <%= faction.sci_score_land %>
        </td>

        <td>
          <%= faction.sci_score_water %>
        </td>

        <td>
          <%= faction.sci_def_land %>
        </td>

        <td>
          <%= faction.sci_def_water %>
        </td>

        <td>
          <%= faction.cul_score_land %>
        </td>

        <td>
          <%= faction.cul_score_water %>
        </td>

        <td>
          <%= faction.cul_def_land %>
        </td>

        <td>
          <%= faction.cul_def_water %>
        </td>

        <td>
          <%= faction.rel_score_land %>
        </td>

        <td>
          <%= faction.rel_score_water %>
        </td>

        <td>
          <%= faction.rel_def_land %>
        </td>

        <td>
          <%= faction.rel_def_water %>
        </td>

        <td>
          <%= faction.dip_score_land %>
        </td>

        <td>
          <%= faction.dip_score_water %>
        </td>

        <td>
          <%= faction.dip_def_land %>
        </td>

        <td>
          <%= faction.dip_def_water %>
        </td>

        <td>
          <%= time_ago_in_words(faction.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(faction.updated_at) %> ago
        </td>

        <td>
          <a href="/factions/<%= faction.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @factions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
