<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Faction #<%= @faction.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/factions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/factions/<%= @faction.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit faction
        </a>
      </div>

      <div class="col">
        <a href="/delete_faction/<%= @faction.id %>" class="btn btn-block btn-outline-secondary">
          Delete faction
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Civ
      </dt>
      <dd>
        <% if @faction.civ.present? %>
          <a href="/civs/<%= @faction.civ_id %>">
            <%= @faction.civ.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Leader
      </dt>
      <dd>
        <% if @faction.leader.present? %>
          <a href="/leaders/<%= @faction.leader_id %>">
            <%= @faction.leader.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Dom score land
      </dt>
      <dd>
        <%= @faction.dom_score_land %>
      </dd>

      <dt>
        Dom score water
      </dt>
      <dd>
        <%= @faction.dom_score_water %>
      </dd>

      <dt>
        Dom def land
      </dt>
      <dd>
        <%= @faction.dom_def_land %>
      </dd>

      <dt>
        Dom def water
      </dt>
      <dd>
        <%= @faction.dom_def_water %>
      </dd>

      <dt>
        Sci score land
      </dt>
      <dd>
        <%= @faction.sci_score_land %>
      </dd>

      <dt>
        Sci score water
      </dt>
      <dd>
        <%= @faction.sci_score_water %>
      </dd>

      <dt>
        Sci def land
      </dt>
      <dd>
        <%= @faction.sci_def_land %>
      </dd>

      <dt>
        Sci def water
      </dt>
      <dd>
        <%= @faction.sci_def_water %>
      </dd>

      <dt>
        Cul score land
      </dt>
      <dd>
        <%= @faction.cul_score_land %>
      </dd>

      <dt>
        Cul score water
      </dt>
      <dd>
        <%= @faction.cul_score_water %>
      </dd>

      <dt>
        Cul def land
      </dt>
      <dd>
        <%= @faction.cul_def_land %>
      </dd>

      <dt>
        Cul def water
      </dt>
      <dd>
        <%= @faction.cul_def_water %>
      </dd>

      <dt>
        Rel score land
      </dt>
      <dd>
        <%= @faction.rel_score_land %>
      </dd>

      <dt>
        Rel score water
      </dt>
      <dd>
        <%= @faction.rel_score_water %>
      </dd>

      <dt>
        Rel def land
      </dt>
      <dd>
        <%= @faction.rel_def_land %>
      </dd>

      <dt>
        Rel def water
      </dt>
      <dd>
        <%= @faction.rel_def_water %>
      </dd>

      <dt>
        Dip score land
      </dt>
      <dd>
        <%= @faction.dip_score_land %>
      </dd>

      <dt>
        Dip score water
      </dt>
      <dd>
        <%= @faction.dip_score_water %>
      </dd>

      <dt>
        Dip def land
      </dt>
      <dd>
        <%= @faction.dip_def_land %>
      </dd>

      <dt>
        Dip def water
      </dt>
      <dd>
        <%= @faction.dip_def_water %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@faction.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@faction.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "faction_templates/faction_matches" %>
  </div>
</div>
