<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Map #<%= @map.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/maps" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link map start -->
      <div class="col">
        <a href="/maps/<%= @map.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit map
        </a>
      </div>
      <!-- Edit link map end -->

      <!-- Delete link map start -->
      <div class="col">
        <a href="/delete_map/<%= @map.id %>" class="btn btn-block btn-outline-secondary">
          Delete map
        </a>
      </div>
      <!-- Delete link map end -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @map.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Land weight
      </dt>
      <!-- Display land_weight start -->
      <dd>
        <%= @map.land_weight %>
      </dd>
      <!-- Display land_weight end -->

      <dt>
        Water weight
      </dt>
      <!-- Display water_weight start -->
      <dd>
        <%= @map.water_weight %>
      </dd>
      <!-- Display water_weight end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@map.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@map.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
