<%= search_form_for @q, :class => collapse_search_form, :id => "matches_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :faction12_id, "Faction12" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction12_id_gteq, :class => "form-control", :placeholder => "Faction12 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction12_id_lteq, :class => "form-control", :placeholder => "Faction12 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction11_id, "Faction11" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction11_id_gteq, :class => "form-control", :placeholder => "Faction11 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction11_id_lteq, :class => "form-control", :placeholder => "Faction11 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction10_id, "Faction10" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction10_id_gteq, :class => "form-control", :placeholder => "Faction10 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction10_id_lteq, :class => "form-control", :placeholder => "Faction10 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction09_id, "Faction09" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction09_id_gteq, :class => "form-control", :placeholder => "Faction09 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction09_id_lteq, :class => "form-control", :placeholder => "Faction09 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction08_id, "Faction08" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction08_id_gteq, :class => "form-control", :placeholder => "Faction08 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction08_id_lteq, :class => "form-control", :placeholder => "Faction08 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction07_id, "Faction07" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction07_id_gteq, :class => "form-control", :placeholder => "Faction07 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction07_id_lteq, :class => "form-control", :placeholder => "Faction07 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction06_id, "Faction06" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction06_id_gteq, :class => "form-control", :placeholder => "Faction06 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction06_id_lteq, :class => "form-control", :placeholder => "Faction06 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction05_id, "Faction05" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction05_id_gteq, :class => "form-control", :placeholder => "Faction05 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction05_id_lteq, :class => "form-control", :placeholder => "Faction05 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction04_id, "Faction04" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction04_id_gteq, :class => "form-control", :placeholder => "Faction04 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction04_id_lteq, :class => "form-control", :placeholder => "Faction04 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction03_id, "Faction03" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction03_id_gteq, :class => "form-control", :placeholder => "Faction03 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction03_id_lteq, :class => "form-control", :placeholder => "Faction03 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :faction02_id, "Faction02" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :faction02_id_gteq, :class => "form-control", :placeholder => "Faction02 greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :faction02_id_lteq, :class => "form-control", :placeholder => "Faction02 less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :map_name_cont, "Map name contains" %>
    <%= f.text_field :map_name_cont, :class => "form-control", :placeholder => "Map name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/matches" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#matches_filters">
  Show filters
</a>
