<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All matches
    </h1>

    <a href="/matches/new" class="btn btn-block btn-outline-secondary">
      Add a new match
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "match_templates/matches_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Map
        </th>

        <th>
          Faction01
        </th>

        <th>
          Faction02
        </th>

        <th>
          Faction03
        </th>

        <th>
          Faction04
        </th>

        <th>
          Faction05
        </th>

        <th>
          Faction06
        </th>

        <th>
          Faction07
        </th>

        <th>
          Faction08
        </th>

        <th>
          Faction09
        </th>

        <th>
          Faction10
        </th>

        <th>
          Faction11
        </th>

        <th>
          Faction12
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @matches.each do |match| %>
      <tr>
        <td>
          <%= match.id %>
        </td>

        <td>
          <% if match.map.present? %>
            <a href="/maps/<%= match.map.id %>">
              <%= match.map.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if match.faction01.present? %>
            <a href="/factions/<%= match.faction01.id %>">
              <%= match.faction01.civ_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= match.faction02_id %>
        </td>

        <td>
          <%= match.faction03_id %>
        </td>

        <td>
          <%= match.faction04_id %>
        </td>

        <td>
          <%= match.faction05_id %>
        </td>

        <td>
          <%= match.faction06_id %>
        </td>

        <td>
          <%= match.faction07_id %>
        </td>

        <td>
          <%= match.faction08_id %>
        </td>

        <td>
          <%= match.faction09_id %>
        </td>

        <td>
          <%= match.faction10_id %>
        </td>

        <td>
          <%= match.faction11_id %>
        </td>

        <td>
          <%= match.faction12_id %>
        </td>

        <td>
          <% if match.owner.present? %>
            <a href="/users/<%= match.owner.id %>">
              <%= match.owner.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(match.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(match.updated_at) %> ago
        </td>

        <td>
          <a href="/matches/<%= match.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @matches, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
