<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All leaders
    </h1>

    <a href="/leaders/new" class="btn btn-block btn-outline-secondary">
      Add a new leader
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "leader_templates/leaders_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Leader ability
        </th>

        <th>
          Leader unit
        </th>

        <th>
          Leader agenda
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @leaders.each do |leader| %>
      <tr>
        <td>
          <%= leader.id %>
        </td>

        <td>
          <%= leader.name %>
        </td>

        <td>
          <%= leader.description %>
        </td>

        <td>
          <%= leader.leader_ability %>
        </td>

        <td>
          <%= leader.leader_unit %>
        </td>

        <td>
          <%= leader.leader_agenda %>
        </td>

        <td>
          <%= time_ago_in_words(leader.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(leader.updated_at) %> ago
        </td>

        <td>
          <a href="/leaders/<%= leader.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @leaders, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
