<% if @leader.present? %>
  <% if @leader.errors.any? %>
    <% @leader.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new leader
</h1>


<hr>

<form action="/create_leader" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @leader.name %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @leader.description %></textarea>
  </div>

  <div class="form-group">
    <label for="leader_ability">
      Leader ability
    </label>

    <input type="text" id="leader_ability" name="leader_ability" class="form-control" value="<%= @leader.leader_ability %>">
  </div>

  <div class="form-group">
    <label for="leader_unit">
      Leader unit
    </label>

    <input type="text" id="leader_unit" name="leader_unit" class="form-control" value="<%= @leader.leader_unit %>">
  </div>

  <div class="form-group">
    <label for="leader_agenda">
      Leader agenda
    </label>

    <input type="text" id="leader_agenda" name="leader_agenda" class="form-control" value="<%= @leader.leader_agenda %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create leader
  </button>
</form>

<hr>

<a href="/leaders">
  Go back
</a>
