<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Leader #<%= @leader.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/leaders" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/leaders/<%= @leader.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit leader
        </a>
      </div>

      <div class="col">
        <a href="/delete_leader/<%= @leader.id %>" class="btn btn-block btn-outline-secondary">
          Delete leader
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @leader.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @leader.description %>
      </dd>

      <dt>
        Leader ability
      </dt>
      <dd>
        <%= @leader.leader_ability %>
      </dd>

      <dt>
        Leader unit
      </dt>
      <dd>
        <%= @leader.leader_unit %>
      </dd>

      <dt>
        Leader agenda
      </dt>
      <dd>
        <%= @leader.leader_agenda %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@leader.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@leader.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "leader_templates/leader_factions" %>
  </div>
</div>
