<% if @civ.errors.any? %>
  <% @civ.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit civ #<%= @civ.id %>
</h1>

<hr>

<form action="/update_civ/<%= @civ.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @civ.name %>">
  </div>

  <div class="form-group">
    <label for="unique_unit">
      Unique unit
    </label>

    <input type="text" id="unique_unit" name="unique_unit" class="form-control" value="<%= @civ.unique_unit %>">
  </div>

  <div class="form-group">
    <label for="unique_infrastructure">
      Unique infrastructure
    </label>

    <input type="text" id="unique_infrastructure" name="unique_infrastructure" class="form-control" value="<%= @civ.unique_infrastructure %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @civ.description %></textarea>
  </div>

  <div class="form-group">
    <label for="civ_ability">
      Civ ability
    </label>

    <input type="text" id="civ_ability" name="civ_ability" class="form-control" value="<%= @civ.civ_ability %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update civ
  </button>
</form>

<hr>

<a href="/civs">
  Go back
</a>
