<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All civs
    </h1>

    <a href="/civs/new" class="btn btn-block btn-outline-secondary">
      Add a new civ
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "civ_templates/civs_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Unique unit
        </th>

        <th>
          Unique infrastructure
        </th>

        <th>
          Description
        </th>

        <th>
          Civ ability
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @civs.each do |civ| %>
      <tr>
        <td>
          <%= civ.id %>
        </td>

        <td>
          <%= civ.name %>
        </td>

        <td>
          <%= civ.unique_unit %>
        </td>

        <td>
          <%= civ.unique_infrastructure %>
        </td>

        <td>
          <%= civ.description %>
        </td>

        <td>
          <%= civ.civ_ability %>
        </td>

        <td>
          <%= time_ago_in_words(civ.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(civ.updated_at) %> ago
        </td>

        <td>
          <a href="/civs/<%= civ.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @civs, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
